In [5]:
import pandas as pd

df=pd.read_csv("./dataset.csv")
df

     gender  age_class  ad_class
0         0          0         1
1         0          1         1
2         0          2         1
3         1          0         2
4         1          1         2
..      ...        ...       ...
149       1         76        16
150       1         77        16
151       1         78        16
152       1         79        16
153       1         80        16

[154 rows x 3 columns]

In [4]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [6]:
X = df.drop(["ad_class"],axis = 1)
Y =  df["ad_class"]

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=20)

In [16]:
model.fit(X_train, Y_train)

DecisionTreeClassifier()

In [17]:
Y_pre = model.predict(X_test)

In [18]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test, Y_pre))

0.967741935483871

In [19]:
import pickle
# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [22]:
X_test

     gender  age_class
113       0         61
66        1         36
103       1         51
132       0         80
111       1         59
92        0         52
121       0         69
21        1         12
84        1         44
12        0          8
140       1         67
126       0         74
74        0         44
35        1         18
28        0         21
88        0         48
13        0          9
135       1         62
122       0         70
62        1         32
73        0         43
102       1         50
114       0         62
20        1         11
56        1         26
134       1         61
141       1         68
34        1         17
96        0         56
86        1         46
98        0         58